//output:output.html

//wrapper
.wrapper

	// aside
	aside.sidebar
	
		// vertical menu

			// vertical menu item
				// vertical menu link
					// icon
					// link text

	// main content
	main
	
	// header
	
		// logo block - media block style
		
			// logo img
			
			// logo text
				// Waves
				// Administration Panel
		
		// Notifications Button
			// icon
			
		// user dropdown
		
			// button
			
				// image
				
				// content
				
					// name
					
					// title
			
			// menu
			
	// grid
	
		// grid item
		
			// panel
			
				// background chart
				
				// panel__grid
				
					// panel__grid-item
				
						// data-group
						
							// text
							
							// text
					
					// panel__grid-item
					
						// chart
						
	// grid
	
		// grid__item
		
			// panel
			
				// panel__grid
				
					// panel__grid-item
			
						// panel__header
						
					// panel__grid-item
					
						// panel__controls
			
				// panel__content
				
					// dashboard-chart
				
			// panel
			
				// panel__grid
				
					// panel__grid-item
			
						// panel__header
						
					// panel__grid-item
					
						// panel__controls
			
				// panel__content
				
					// dashboard-table
		
		// grid__item
		
			// panel
			
				// panel__grid
				
					// panel__grid-item
			
						// panel__header
						
					// panel__grid-item
					
						// panel__controls
						
				// panel__content
				
					// dashboard-chart
						
			// panel
			
				// panel__grid
				
					// panel__grid-item
			
						// panel__header
						
					// panel__grid-item
					
						// panel__controls
	
	// footer
	
		// footer__left
		
			3 columns
			
				3 menus
		
		// footer__right
		
			2 columns
	
				1 social links menu
	
				1 Footer content
