/**
 * Line Height Grid
 *
 * This will print a line-height grid on the page,
 * based on the base document line height.
 *
 * This is used to ensure that all your components are harmoniously aligned
 *
 * .line-height-grid--absolute - Allows you to overlay the grid.
 *                               Ensure parent is relative
 *
 * ========================================================================= */

/**
 * Line-height grid
 */

.line-height-grid {
  position: absolute;
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% #{$base-line-height + 'px'};
  background-size: 100% #{$base-line-height-rem + 'rem'};

  &--absolute {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
  }
}

/**
* Double the amount of lines
* Half the base spacing ie 16 => 8
*/

.line-height-grid--double {
  @extend .line-height-grid;
  background-image: linear-gradient(to bottom,
          hsla(200, 100%, 50%, .3) 1px,
          transparent 1px,
          transparent #{0.5 * $base-line-height + 'px'},
          hsla(200, 100%, 50%, .3) #{0.5 * $base-line-height + 'px'},
          transparent #{0.5 * $base-line-height + 1 + 'px'},
          transparent #{$base-line-height + 'px'}
  );
}
