@function px-to-rem($px-size, $base-size) {
  @return #{$px-size/$base-size}rem;
}

/* To return screens width value as a string */
@function breakpoint($screenWidth) {
  $screen-width-map: (
          "sm": 320px,
          "md": 768px,
          "lg": 1024px,
          "xl": 1200px
  );
  @return map_get($screen-width-map, $screenWidth);
}

/*
Mixin to return a media query set to min width
Screen width options to match the breakpoint function values
*/
@mixin media-breakpoint($screenWidth) {
  @media screen and (min-width: breakpoint($screenWidth)) {
    @content;
  }
}

/*
Get font size with line height
*/

@mixin get_font_size($pixel-font-size, $pixel-line-height: 1) {
  $rem-font-size: $pixel-font-size / $base-font-size;
  $rem-line-height: $pixel-line-height / $base-font-size;

  font-size: #{$pixel-font-size + 'px'};
  font-size: #{$rem-font-size + 'rem'};
  line-height: #{$pixel-font-size + 'px'};
  line-height: #{$rem-line-height + 'rem'};
}