<!-- Main Footer -->
<footer class="w-full">
    <div class="flex flex-wrap">
        {% call grid.gridItem("2/3") -%}
            {% include "components/panel-block.njk" %}
        {%- endcall %}
        {% call grid.gridItem("1/3") -%}
            {% include "components/panel-block.njk" %}
        {%- endcall %}
    </div>
</footer>