<!-- Footer -->
<footer class="footer">

    <div class="footer__column--left js-accordion-parent">
        <!-- 3 Up Grid Row -->
        {% set footergrid = [
            {
                "columnWidth": "grid__item--1-3",
                "templateData": {
                    "include": "components/footer/footer-list.njk",
                    "footerTitle": "Quick Links",
                    "footerList": ["Dashboard", "Users", "Products", "Payment History", "Reports", "Promocodes"]
                }
            },
            {
                "columnWidth": "grid__item--1-3",
                "templateData": {
                    "include": "components/footer/footer-list.njk",
                    "footerTitle": "Information",
                    "footerList": ["Terms & Conditions", "Privacy Policy", "Cookie Policy", "Payment History", "Help", "Contact"]
                }
            },
            {
                "columnWidth": "grid__item--1-3",
                "templateData": {
                    "include": "components/footer/footer-list.njk",
                    "footerTitle": "Other",
                    "footerList": ["About Us", "Branding", "Advertising", "Press"]
                }
            }
        ] %}
        {% call(gridItem) grid.buildGrid(footergrid) -%}
            {% include gridItem.templateData.include %}
        {%- endcall %}
    </div>

    <div class="footer__column--right">
        <!-- 2 Up Grid Row -->
        {% set footergrid = [
            {
                "columnWidth": "grid__item--1-3",
                "templateData": {
                    "include": "components/footer/footer-social.njk"
                }
            },
            {
                "columnWidth": "grid__item--2-3",
                "templateData": {
                    "include": "components/footer/footer-contact.njk"
                }
            }
        ] %}
        {% call(gridItem) grid.buildGrid(footergrid) -%}
            {% include gridItem.templateData.include %}
        {%- endcall %}
    </div>
</footer>