<!-- Main Footer -->
<footer class="w-full">
    {% set footerGrid = [
        {
            "columnWidth": "2/3"
        },
        {
            "columnWidth": "1/3"
        }
    ] %}
    {% call grid.buildGrid(footerGrid) -%}
        {{ panel.getPanel("Footer") }}
    {%- endcall %}

</footer>