<header class="header">

    <button class="header__sidebar-toggle">
        <i class="icon-menu"></i>
    </button>

    <!-- Media Group -->
    <div class="header__media">
        <img src="images/wave-admin-logo.svg">
        <div class="header__media-content">
            <div class="text-size--large text-color--mysterious">WAVES</div>
            <div class="text-size--x-small text-color--common-feldspar">
                ADMINISTRATION PANEL
            </div>
        </div>
    </div>

    <div class="header__group">
        <button class="header__notification-button">
            <i class="icon-bell"></i>
        </button>
        {% include "components/dropdown-menu.njk" %}
    </div>
</header>