<header class="justify-between mb-10 items-center clearfix" data-pg-name="header">
    <!-- Media Group -->
    <div data-pg-name="dropdown" data-pgc="tw.dropdown-menu" class="float-right static relative js-menu">
        <!-- Button -->
        <button class="rounded hover:bg-grey-dark flex items-center text-left js-menu-toggle" data-pg-name="dropdown__button" data-pg-collapsed>
            <img src="https://images.unsplash.com/photo-1517305268957-8d20be2c9b62?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjIwOTIyfQq=85&amp;fm=jpg&amp;crop=faces&amp;cs=srgb&amp;w=50&amp;h=48&amp;fit=crop" alt="" class="block rounded" data-pg-name="dropdown__avatar">
            <div class="px-4 hidden md:block relative" data-pg-name="dropdown__label-content" data-pg-collapsed>
                <div data-pg-collapsed>
                    <p class="text-color--mysterious">Olive Houston</p>
                    <p class="text-color--common-feldspar text-size--small">Marketing Specialist</p>
                </div>
                <i class="icon-down-dir absolute pin-r pin-t"></i>
            </div>
        </button>
        <div class="mt-2 absolute flex-col border rounded shadow bg-white py-1 pin-r hidden js-menu-list" data-pg-name="dropdown__menu">
            <a href="#" class="px-4 py-2 no-underline hover:bg-grey-dark hover:text-white text-grey-darkest whitespace-no-wrap" data-pg-name="dropdown__menu-item">Link Item</a>
            <a href="#" class="px-4 py-2 no-underline border-t hover:bg-grey-dark hover:text-white text-grey-darkest whitespace-no-wrap" data-pg-name="dropdown__menu-item">Longer Link Item</a>
            <a href="#" class="px-4 py-2 no-underline border-t hover:bg-grey-dark hover:text-white text-grey-darkest whitespace-no-wrap" data-pg-name="dropdown__menu-item">Another Link Item</a>
        </div>
        <!-- Dropdown -->
    </div>
    <button class="float-right p-4" data-pg-name="header__notification-button" data-pg-collapsed>
        <i class="icon-bell"></i>
    </button>
    <div class="flex float-left" data-pg-name="header__group">
        <!--Dropdown Menu -->
        <div data-pg-name="header__media" class="flex" data-pg-collapsed>
            <img src="images/wave-admin-logo.svg"/>
            <div data-pg-name="header__media-content" class="pl-4 hidden md:block" data-pg-collapsed>
                <div class="text-size--large text-color--mysterious">WAVES</div>
                <div class="text-size--x-small text-color--common-feldspar">
                    ADMINISTRATION PANEL
</div>
            </div>
        </div>
        <button class="p-4 md:hidden" data-pg-name="header__sidebar-toggle" data-pg-collapsed>
            <i class="icon-menu"></i>
        </button>
    </div>
</header>