<!-- Main Content -->
<main class="main-content grey-gradient">
    {% include "layout/header.njk" %}

    <!-- 3 Up Grid Row -->
    {% set grid1 = [
        {
            "columnWidth": "grid__item--1-3",
            "templateData": {
                "include": "components/panel/panel-mini-chart.njk",
                "title": "New Customers",
                "bigNumber": "142"
            }
        },
        {
            "columnWidth": "grid__item--1-3",
            "templateData": {
                "include": "components/panel/panel-mini-chart.njk",
                "title": "Active Users",
                "bigNumber": "384"
            }
        },
        {
            "columnWidth": "grid__item--1-3",
            "templateData": {
                "include": "components/panel/panel-mini-chart.njk",
                "title": "Sales",
                "bigNumber": "$1047"
            }
        }
    ] %}
    {% call(gridItem) grid.buildGrid(grid1) -%}
        {{ panel.getPanel(gridItem.templateData, gridItem.templateData.title) }}
    {%- endcall %}

    <!-- 2 Up Grid Row -->
    {% set grid2 = [
        {
            "columnWidth": "grid__item--2-3",
            "templateData": {
                "include": "components/panel/panel-daily-sales.njk"
            },
            "templateData2": {
                "include": "components/panel/panel-recently-sold.njk"
            }
        },
        {
            "columnWidth": "grid__item--1-3",
            "templateData": {
                "include": "components/panel/panel-main-categories.njk"
            },
            "templateData2": {
                "include": "components/panel/panel-regions-report.njk"
        }
        }
    ] %}
    {% call(gridItem)  grid.buildGrid(grid2) -%}
        {{ panel.getPanel(gridItem.templateData) }}
        {{ panel.getPanel(gridItem.templateData2) }}
    {%- endcall %}


    {% include "layout/footer.njk" %}

</main>