<main class="flex-auto">
    <h1>Main Content</h1>
    <!-- Header -->
    <header class="ratio-block flex justify-between">
        {% include "components/header-logo-block.njk" %}
        {% include "components/header-user-menu-block.njk" %}
    </header>

    <!--  Grid Layout -->
    <div class="flex flex-wrap">
        {% call grid.gridItem("1/3") -%}
            {% include "components/panel-block.njk" %}
        {%- endcall %}
        {% call grid.gridItem("1/3") -%}
            {% include "components/panel-block.njk" %}
        {%- endcall %}
        {% call grid.gridItem("1/3") -%}
            {% include "components/panel-block.njk" %}
        {%- endcall %}
    </div>

    <!--  Grid Layout -->
    <div class="flex flex-wrap">
        {% call grid.gridItem("2/3") -%}
            {% call panel.getPanel() -%}
                Boobs
            {%- endcall %}
            {% call panel.getPanel() -%}
                New Boobs
            {%- endcall %}
        {%- endcall %}
        {% call grid.gridItem("1/3") -%}
            {% call panel.getPanel() -%}
                Boobs
            {%- endcall %}
            {% call panel.getPanel() -%}
                New Boobs
            {%- endcall %}
        {%- endcall %}
    </div>

    {% include "layout/footer.njk" %}

</main>
