.dropdown {
  @apply float-right relative;

  &__button {
    @apply rounded flex items-center text-left;
  }

  &__avatar {
    @apply block rounded;
  }

  &__label-content {
    @apply px-4 hidden relative;
    @screen md {
      @apply block;
    }
  }

  &__icon-down {
    @apply absolute pin-r pin-t;
    //icon-down-dir
  }

  &__menu {
    @apply hidden mt-2 absolute flex-col border rounded shadow bg-white py-1 pin-r;
    z-index: 10;

    &.js-show-menu {
      display: flex;
    }
  }

  &__menu-item {
    @apply px-4 py-2 no-underline text-grey-darkest whitespace-no-wrap;

    &:hover {
      background-color: $shiny-grey;
    }
  }

}
