.footer {

  $self: &;

  @apply flex flex-wrap mt-10;

  &__column--left {
    @apply w-full;
    @screen xl {
      @apply w-3/5;
    }
  }

  &__column--right {
    @apply w-full mt-4;
    @screen xl {
      @apply w-2/5 mt-0;
    }
  }

  &__heading {
    @apply mb-2 uppercase text-color--mysterious;
  }

  &__list {
    @apply list-reset;
  }

  &__list-item {
    @apply text-size--small text-grey-dark;

    & + #{$self}__list-item {
      @apply mt-2;
    }

  }

  &__link {
    @apply no-underline text-grey-dark;
  }

  &__social-media-wrap {
    @apply flex justify-between;
  }

  &__social-media-link {
    @apply flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8;
  }

  &__content {

    &--right-align {
      @apply text-right;
    }
  }

  &__back-to-top {
    @apply bg-white inline-block shadow-md text-size--large p-2 mb-4 rounded;
  }

  /**
 * JS Hooks
 *
 * For accordion functionality
 */

  .js-accordion-content {
    display: none;
    cursor: pointer;
    @screen md {
      display: block;
    }
  }

  .js-accordion-show {
    display: block;
  }

}
