.grid {
  @apply flex flex-wrap -m-2;

  & + & {
    margin-top: 0.5rem;
  }

  &__item--1-3 {
    @apply p-2 w-full;
    @screen md {
      @apply w-1/3;
    }
  }

  &__item--2-3 {
    @apply p-2 w-full;
    @screen md {
      @apply w-2/3;
    }
  }

  &__item--sm-1-3 {
    @apply p-2 w-full;
    @screen sm {
      @apply w-1/3;
    }
  }

}
