.header{
  @apply justify-between mb-10 items-center;
  //clearfix;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  &__notification-button {
    @apply float-right p-4;
  }

  &__group {
    @apply flex float-left;
  }

  &__media {
    @apply flex;
  }

  &__media-content {
    @apply pl-4 hidden;
    @screen md {
      @apply block;
    }
  }

  &__sidebar-toggle {
    @apply p-4;
    @screen md {
      @apply hidden;
    }
  }

}
