.header {
  @apply flex justify-between mb-10 items-center;

  &__notification-button {
    @apply p-4;
    position: relative;
    color: $mysterious;

    &:before{
      position: absolute;
      background-color: $too-gold;
      background-clip: padding-box;
      border-radius: .5rem;
      box-shadow: 0 0 0 .1rem #fff;
      color: #fff;
      content: attr(data-badge);
      display: inline-block;
      height: 6px;
      min-width: 6px;
      top: 1.1rem;
      right: 1.15rem;
    }
  }

  &__group {
    @apply flex;
  }

  &__media {
    @apply flex;
  }

  &__media-content {
    @apply pl-4 hidden;
    @screen md {
      @apply block;
    }
  }

  &__sidebar-toggle {
    @apply p-4;
    margin-left: -1rem;
    @screen md {
      @apply hidden;
    }
  }

}
