.panel {

  $self: &;

  @apply rounded-sm shadow bg-white relative;

  & + & {
    margin-top: 1rem;
  }

  &--ratio-sizing {
    flex: 1 1 auto;

    &:after {
      content: "";
      display: block;
      padding-bottom: 75%;
    }

    @screen md {
      &:after {
        content: "";
        display: block;
        padding-bottom: 147.2857143%;
      }
    }

  }

  &__header {
    @apply flex justify-between items-center p-4;
    @screen md {
      @apply p-8;
    }
    &--wrap {
      flex-wrap: wrap;
    }
    &--gradient {
      z-index: 10;
      position: relative;
      background-image: linear-gradient(-180deg, #FFFFFF 10%, rgba(255,255,255,0.00) 100%);
    }
  }

  &__map-wrapper {
    @apply absolute pin-l pin-r pin-b pin-t;
    overflow: hidden;
  }

  &__map {
    position: absolute;
    left: -200px;
    top: -50px;
    @screen md {
      left: -290px;
      top: initial;
    }
  }

  &__title {
    @apply uppercase mb-1;
    color: $mysterious;
    font-size: $text-size__medium;
  }

  &__button {
    @apply justify-center items-center whitespace-no-wrap relative text-left;
    color: $common-feldspar;

    &:hover {
      color: $mysterious;
    }

    &:focus {
      outline:0;
    }

    & + #{$self}__button {
      margin-left: 1rem;
    }

    &--active {
      color: $mysterious;
    }
  }

  &__button-text {
    @apply hidden;
    font-size: $text-size__small;
    @screen md {
      display: inline;
    }
  }

  &__content {
    @apply p-4 pt-0;
    @screen md {
      @apply p-8 pt-0;
    }
  }

  &__group {
    &--flex {
      @apply flex;
    }

    &--chart-data {
      width: 50%;
      padding-left: 0.5rem;
      @screen md {
        width: 100%;
        padding-left: 0;
      }
      @screen lg {
        width: 50%;
      }
    }

    &--chart {
      width: 50%;
      height: 2rem;
      @screen md {
        width: 100%;
        margin-top: 1rem;
      }
      @screen lg {
        width: 50%;
        margin-top: 0;
      }
    }
  }

  &__footer {
    @apply text-center pt-4;
  }

  &__footer-button {
    @apply uppercase;
    font-size: $text-size__x-small;
  }

  &__footer-button-icon {
    @apply mr-2;
  }

  canvas {
    width: 100%;
  }

}
