.vertical-menu {

  $self: &;

  @apply h-full flex-col justify-between;
  @screen md {
    @apply flex;
    margin-top: 8.25rem;
  }
  &__list {
    @apply list-reset;
  }

  &__link {
    @apply block border-solid border-r-4 text-right flex-col flex p-8 items-center;
    border-color: transparent;
    color: $common-feldspar;

    &:hover{

      color: $mysterious;
      border-color: $jade-dust;

      #{$self}__link-text {
        visibility: visible;
      }
    }
  }

  &__link-icon {
    font-size: $text-size__large;
  }

  &__link-text {
    @apply whitespace-no-wrap uppercase;
    margin-top: 0.5rem;
    font-size: $text-size__small;
    @screen md {
      visibility: hidden;
    }
  }

}
