<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content
    "width=device-width,initial-scale=1">

    <title>Waves Admin</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>

    <div class="max-w-3xl w-full m-auto flex flex-wrap" data-pg="wrapper">
        {% block content %}{% endblock %}
    </div>

    <script type="application/javascript" src="js/app.js"></script>
</body>
</html>