<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Waves Admin</title>
    <link rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body>
    {#<div class="line-height-grid--double line-height-grid--absolute"></div>#}

    <div class="wrapper">
      {% block sidebar %} {% endblock %}
      {% block mainContent %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="application/javascript" src="js/all.js"></script>
  </body>
</html>
