<div class="footer__content">
    <div class="footer__heading">Social</div>
    <div class="footer__social-media-wrap">
        <a data-pgc="tw.icon-rounded" class="footer__social-media-link"> <i class="icon-facebook"></i> </a>
        <a data-pgc="tw.icon-rounded" class="footer__social-media-link"> <i class="icon-twitter"></i> </a>
        <a data-pgc="tw.icon-rounded" class="footer__social-media-link"> <i class="icon-linkedin"></i> </a>
        <a data-pgc="tw.icon-rounded" class="footer__social-media-link"> <i class="icon-instagram"></i> </a>
    </div>
</div>