<div class="text-right" data-pg-name="footer__content" data-pg-collapsed>
    <div class="bg-white inline-block shadow-md text-size--large p-2 mb-4 rounded" data-pg-name="footer__back-to-top">
        <i class="icon-up"></i>
    </div>
    <p class="text-size--small text-right">v1.4, November 14, 2016</p>
    <p class="text-size--small text-right">© 2016 Dashboard, Inc. All Rights Reserved</p>
    <p class="text-size--small text-right">All Systems Operational Check out our status page for more details</p>
</div>