<div data-pg-name="footer__content" data-pg-collapsed>
    <div data-pg-name="footer__heading" class="mb-2 uppercase text-color--mysterious">Social</div>
    <div class="flex justify-between" data-pg-name="footer__social-media-wrap" data-pg-collapsed>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-facebook"></i></a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-twitter"></i></a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-linkedin"></i></a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-instagram"></i></a>
    </div>
</div>