<!-- Footer List -->
<div data-pg-name="footer__list-wrap">
    <div data-pg-name="footer__heading" class="footer__heading js-accordion-toggle">{{ gridItem.templateData.footerTitle }}</div>
    <div class="js-accordion-content">
        <ul class="footer__list">
            {% for item in gridItem.templateData.footerList %}
                <li class="footer__list-item"><a class="footer__link" href="#">{{ item }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>