<div class="footer__content footer__content--right-align">
    <div class="footer__back-to-top">
        <i class="icon-up"></i>
    </div>
    <p class="text-size--small text-right">v1.4, November 14, 2016</p>
    <p class="text-size--small text-right">© 2016 Dashboard, Inc. All Rights Reserved</p>
    <br>
    <br>
    <p class="text-size--small text-right">All Systems Operational Check out our status page for more details</p>
</div>