<div data-pg-name="footer__content" class="footer__content">
    <div data-pg-name="footer__heading" class="footer__heading">Social</div>
    <div data-pg-name="footer__social-media-wrap" class="footer__social-media-wrap">
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-facebook"></i> </a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-twitter"></i> </a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-linkedin"></i> </a>
        <a class="flex justify-center items-center border-2 rounded rounded-full border-grey-darker border-solid w-8 h-8" data-pgc="tw.icon-rounded"> <i class="icon-instagram"></i> </a>
    </div>
</div>