<div class="justify-between p-4 md:p-8 flex flex-wrap">
    <div>
        <div class="text-size--small uppercase">{{ panelContent.title }}</div>
        <div class="text-size--x-large">{{ panelContent.bigNumber }}</div>
    </div>
    <div>
        <img src="https://via.placeholder.com/145x45">
    </div>
</div>