<div class="panel__header">
    <div class="panel__group">
        <div class="panel__title">Daily Sales</div>
        <p class="text-size--x-small text-color--mysterious">Use your mouse to see statistics from a particular day</p>
    </div>
    <div class="panel__group--flex">
        <button class="panel__button">
            <span class="panel__button-mobile-icon"></span>
            <span class="panel__button-desktop-icon"><i class="icon-th-list mr-2"></i>List View</span>
        </button>
        <button class="panel__button">
            <span class="panel__button-mobile-icon"></span>
            <span class="panel__button-desktop-icon"><i class="icon-th-large mr-2"></i>Grid View</span>
        </button>
    </div>
</div>
<div class="panel__content">
    <table class="panel-table">
        <tbody>
            <tr class="panel-table__row">
                <td class="panel-table__cell-first">
                    <img src="images/outfit-dress.png" class="panel-table__image">
                </td>
                <td class="panel-table__cell-second">
                    <div class="panel-table__group">
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div class="panel-table__group--flex">
                        <p class="text-size--x-small mr-2"> <i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"> <i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="panel-table__cell-last">
                    <div class="panel-table__group">
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="panel-table__row">
                <td class="panel-table__cell-first">
                    <img src="images/outfit-dress.png" class="panel-table__image">
                </td>
                <td class="panel-table__cell-second">
                    <div class="panel-table__group">
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div class="panel-table__group--flex">
                        <p class="text-size--x-small mr-2"> <i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"> <i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="panel-table__cell-last">
                    <div class="panel-table__group">
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="panel-table__row">
                <td class="panel-table__cell-first">
                    <img src="images/outfit-dress.png" class="panel-table__image">
                </td>
                <td class="panel-table__cell-second">
                    <div class="panel-table__group">
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div class="panel-table__group--flex">
                        <p class="text-size--x-small mr-2"> <i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"> <i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="panel-table__cell-last">
                    <div class="panel-table__group">
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="panel-table__row">
                <td class="panel-table__cell-first">
                    <img src="images/outfit-dress.png" class="panel-table__image">
                </td>
                <td class="panel-table__cell-second">
                    <div class="panel-table__group">
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div class="panel-table__group--flex">
                        <p class="text-size--x-small mr-2"> <i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"> <i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="panel-table__cell-last">
                    <div class="panel-table__group">
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel__footer">
        <a data-pgc="tw.icon-text" class="panel__footer-button"> <i class="panel__footer-button-icon"></i>Show me all full live feed</a>
    </div>
</div>