<div class="panel">
    <div class="panel__header">
        <div class="panel__group">
            <div class="panel__title">Daily Sales</div>
            <p class="text-size--x-small text-color--mysterious">Use your mouse to see statistics from a particular
                day</p>
        </div>
        <div class="panel__group">
            <button class="panel__button">
                <span class="panel__button-mobile-icon"></span>
                <span class="panel__button-desktop-icon"><i class="icon-clock mr-2"></i>Select Range</span>
            </button>
        </div>
    </div>
    <div class="panel__content">
        <canvas id="mainCategories"></canvas>
    </div>
</div>