<div class="panel__header">
    <div>
        <div class="text-size--small uppercase">{{ panelContent.title }}</div>
        <div class="text-size--x-large">{{ panelContent.bigNumber }}</div>
    </div>
    <div>
        <img src="https://via.placeholder.com/145x45">
    </div>
</div>