<div class="panel__header">
    <div class="panel__group">
        <div class="panel__title">Daily Sales</div>
        <p class="text-size--x-small text-color--common-feldspar">Use your mouse to see statistics from a particular day</p>
    </div>
    <div class="panel__group">
       <button class="panel__button">
            <i class="icon-clock mr-2"></i><span class="panel__button-text">Select Range</span>
        </button>
    </div>
</div>

<div class="panel__content">
    <canvas id="dailySales"></canvas>
</div>

