    <div class="panel__header" data-pg-name="panel__header" data-pg-collapsed>
        <div data-pg-name="panel__group" data-pg-collapsed>
            <div class="uppercase text-size--medium mb-1">Main Categories</div>
            <p class="text-size--x-small">Sales for main categories in shop</p>
        </div>
    </div>
    <div class="panel__content" data-pg-name="panel__content">
        {#<img src="https://via.placeholder.com/316x138"/>#}
        <canvas id="mainCategories"></canvas>
    </div>
