<div class="flex justify-between items-center p-4 md:p-8" data-pg-name="panel__header">
    <div data-pg-name="panel__group">
        <div class="uppercase text-size--medium mb-1 text-color--mysterious" data-pg-name="panel__title">Daily Sales</div>
        <p class="text-size--x-small text-color--mysterious" data-pg-name="panel__content">Use your mouse to see statistics from a particular day</p>
    </div>
    <div data-pg-name="panel__group" class="flex" data-pg-collapsed>
        <button class="js-menu-toggle flex justify-center items-center mr-2" data-pg-collapsed>
            <span class="md:hidden p-2 icon-th-list"></span>
            <span class="hidden md:inline mr-2 text-size--x-small whitespace-no-wrap"><i class="icon-th-list mr-2"></i>List View</span>
        </button>
        <button class="js-menu-toggle flex justify-center items-center" data-pg-collapsed>
            <span class="md:hidden p-2 icon-th-large"></span>
            <span class="hidden md:inline text-size--x-small whitespace-no-wrap"><i class="icon-th-large mr-2"></i>Grid View</span>
        </button>
    </div>
</div>
<div class="p-4 pt-0 md:p-8 md:pt-0" data-pg-name="panel__content">
    <table class="w-full border-b" data-pg-name="panel-table">
        <tbody>
            <tr class="border-t hover:bg-grey-lightest" data-pg-name="panel-table__row" data-pg-collapsed>
                <td data-pg-name="panel-table__cell-first" class="hidden md:table-cell w-16">
                    <img src="images/outfit-dress.png" class="ml-4" data-pg-name="panel-table__image"/>
                </td>
                <td data-pg-name="panel-table__cell-second" class="p-4 align-top flex justify-between flex-col md:flex-row" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div data-pg-name="panel-table__group--flex" class="flex items-center mt-2 md:mt-0" data-pg-collapsed>
                        <p class="text-size--x-small mr-2"><i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"><i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="w-24 py-4 align-top" data-pg-name="panel-table__cell-last" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="border-t hover:bg-grey-lightest" data-pg-name="panel-table__row" data-pg-collapsed>
                <td data-pg-name="panel-table__cell-first" class="hidden md:table-cell w-16">
                    <img src="images/outfit-dress.png" class="ml-4" data-pg-name="panel-table__image"/>
                </td>
                <td data-pg-name="panel-table__cell-second" class="p-4 align-top flex justify-between flex-col md:flex-row" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div data-pg-name="panel-table__group--flex" class="flex items-center mt-2 md:mt-0" data-pg-collapsed>
                        <p class="text-size--x-small mr-2"><i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"><i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="w-24 py-4 align-top" data-pg-name="panel-table__cell-last" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="border-t hover:bg-grey-lightest" data-pg-name="panel-table__row" data-pg-collapsed>
                <td data-pg-name="panel-table__cell-first" class="hidden md:table-cell w-16">
                    <img src="images/outfit-dress.png" class="ml-4" data-pg-name="panel-table__image"/>
                </td>
                <td data-pg-name="panel-table__cell-second" class="p-4 align-top flex justify-between flex-col md:flex-row" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div data-pg-name="panel-table__group--flex" class="flex items-center mt-2 md:mt-0" data-pg-collapsed>
                        <p class="text-size--x-small mr-2"><i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"><i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="w-24 py-4 align-top" data-pg-name="panel-table__cell-last" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
            <tr class="border-t hover:bg-grey-lightest" data-pg-name="panel-table__row" data-pg-collapsed>
                <td data-pg-name="panel-table__cell-first" class="hidden md:table-cell w-16">
                    <img src="images/outfit-dress.png" class="ml-4" data-pg-name="panel-table__image"/>
                </td>
                <td data-pg-name="panel-table__cell-second" class="p-4 align-top flex justify-between flex-col md:flex-row" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>Beige Dress</p>
                        <p class="text-size--x-small">Quantity: 21</p>
                    </div>
                    <div data-pg-name="panel-table__group--flex" class="flex items-center mt-2 md:mt-0" data-pg-collapsed>
                        <p class="text-size--x-small mr-2"><i class="icon-heart"></i> 28</p>
                        <p class="text-size--x-small"><i class="icon-chat"></i> 201</p>
                    </div>
                </td>
                <td class="w-24 py-4 align-top" data-pg-name="panel-table__cell-last" data-pg-collapsed>
                    <div data-pg-name="panel-table__group" data-pg-collapsed>
                        <p>$84.00</p>
                        <p class="text-size--x-small">(+17.24 VAT)</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center pt-4" data-pg-name="panel__footer">
        <a data-pgc="tw.icon-text" class="uppercase text-size--x-small" data-pg-name="panel__footer-button"><i class="mr-2 icon-chart-line" data-pg-name="panel__footer-button-icon"></i>Show me all full live feed</a>
    </div>
</div>