<div class="panel__header">
    <div class="panel__group">
        <div class="panel__title">Recently Sold</div>
        <p class="text-size--x-small text-color--common-feldspar">Live feed basedon what people are buying right now</p>
    </div>
    <div class="panel__group--flex">
        <button class="panel__button panel__button--active">
            <i class="icon-th-list mr-2"></i><span class="panel__button-text">List View</span>
        </button>
        <button class="panel__button">
            <i class="icon-th-large mr-2"></i><span class="panel__button-text">Grid View</span>
        </button>
    </div>
</div>
<div class="panel__content">
    <table class="panel-table table">
        <tbody>
        <tr class="panel-table__row">
            <td class="panel-table__cell-first">
                <img src="images/outfit-dress.png" class="panel-table__image">
            </td>
            <td class="panel-table__cell-second">
                <div class="panel-table__group">
                    <p>Beige Dress</p>
                    <p class="text-size--x-small text-color--common-feldspar">Quantity: 21</p>
                </div>
                <div class="panel-table__group--flex">
                    <p class="text-size--x-small mr-2 text-color--common-feldspar"> <i class="icon-heart"></i> 28</p>
                    <p class="text-size--x-small text-color--common-feldspar"> <i class="icon-chat"></i> 201</p>
                </div>
            </td>
            <td class="panel-table__cell-last">
                <div class="panel-table__group">
                    <p>$84.00</p>
                    <p class="text-size--x-small text-color--common-feldspar">(+17.24 VAT)</p>
                </div>
            </td>
        </tr>
        <tr class="panel-table__row">
            <td class="panel-table__cell-first">
                <img src="images/outfit-tshirt.png" class="panel-table__image">
            </td>
            <td class="panel-table__cell-second">
                <div class="panel-table__group">
                    <p>T-Shirt</p>
                    <p class="text-size--x-small text-color--common-feldspar">Quantity: 2</p>
                </div>
                <div class="panel-table__group--flex">
                    <p class="text-size--x-small mr-2 text-color--common-feldspar"><i class="icon-heart"></i> 17</p>
                    <p class="text-size--x-small text-color--common-feldspar"><i class="icon-chat"></i> 471</p>
                </div>
            </td>
            <td class="panel-table__cell-last">
                <div class="panel-table__group">
                    <p>$174.00</p>
                    <p class="text-size--x-small text-color--common-feldspar">(+24.47 VAT)</p>
                </div>
            </td>
        </tr>
        <tr class="panel-table__row">
            <td class="panel-table__cell-first">
                <img src="images/outfit-boots.png" class="panel-table__image">
            </td>
            <td class="panel-table__cell-second">
                <div class="panel-table__group">
                    <p>Chealsea boots</p>
                    <p class="text-size--x-small text-color--common-feldspar">Quantity: 120</p>
                </div>
                <div class="panel-table__group--flex">
                    <p class="text-size--x-small mr-2 text-color--common-feldspar"><i class="icon-heart"></i> 47</p>
                    <p class="text-size--x-small text-color--common-feldspar"><i class="icon-chat"></i> 98</p>
                </div>
            </td>
            <td class="panel-table__cell-last">
                <div class="panel-table__group">
                    <p>$94.00</p>
                    <p class="text-size--x-small text-color--common-feldspar">(+19.54 VAT)</p>
                </div>
            </td>
        </tr>
        <tr class="panel-table__row">
            <td class="panel-table__cell-first">
                <img src="images/outfit-trousers.png" class="panel-table__image">
            </td>
            <td class="panel-table__cell-second">
                <div class="panel-table__group">
                    <p>Trousers</p>
                    <p class="text-size--x-small text-color--common-feldspar">Quantity: 60</p>
                </div>
                <div class="panel-table__group--flex">
                    <p class="text-size--x-small mr-2 text-color--common-feldspar"><i class="icon-heart"></i> 4</p>
                    <p class="text-size--x-small text-color--common-feldspar"><i class="icon-chat"></i> 10</p>
                </div>
            </td>
            <td class="panel-table__cell-last">
                <div class="panel-table__group">
                    <p>$40.00</p>
                    <p class="text-size--x-small text-color--common-feldspar">(+9.24 VAT)</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel__footer">
        <a data-pgc="tw.icon-text" class="panel__footer-button"><i class="panel__footer-button-icon icon-chart-line"></i>Show me all full live feed</a>
    </div>
</div>