{% import 'macros/grid-macros.njk' as grid %}

<!-- 2 Up Grid Row -->

<div class="flex flex-wrap -m-2" data-pg-name="grid">

    <div class="p-2 w-full md:w-2/3" data-pg-name="grid__item">
        sdfsd
    </div>
    <div class="p-2 w-full md:w-1/3" data-pg-name="grid__item">
        sdfsd
    </div>

</div>