<div class="panel">
    <div class="panel__header">
        <div class="panel__group">
            <div class="panel__title">Main Categories</div>
            <p class="text-size--x-small text-color--common-feldspar">Sales for main categories in shop</p>
        </div>
        <div class="panel__group">
            <button class="panel__button">
                <i class="icon-dot-3"></i>
            </button>
        </div>
    </div>
    <div class="panel__content">
        <canvas id="mainCategories"></canvas>
    </div>
</div>