<div class="rounded-sm shadow bg-white mt-4" data-pg-name="panel">
    <div class="flex justify-between">
        <div class="p-8 pr-0">
            <div class="uppercase text-size--medium mb-1">Regions REport</div>
            <div class="text-size--medium">
                <p class="text-size--x-small">Reports from particualar regions of world</p>
            </div>
        </div>
        <div class="p-8 pl-0">
        </div>
    </div>
    <div class="p-8 pt-0">
        <img src="https://via.placeholder.com/316x480"/>
    </div>
</div>
