<div data-pg-name="vertical-menu" class="vertical-menu" data-pg-collapsed>
    <ul data-pg-name="vertical-menu__list" class="vertical-menu__list">
        <li data-pg-name="vertical-menu__list-item" class="vertical-menu__list-item">
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-home-outline"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">Home</span></a>
        </li>
        <li data-pg-name="vertical-menu__list-item" class="vertical-menu__list-item">
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-users-outline"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">Users</span></a>
        </li>
        <li data-pg-name="vertical-menu__list-item" class="vertical-menu__list-item">
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-box"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">Packages</span></a>
        </li>
        <li data-pg-name="vertical-menu__list-item" class="vertical-menu__list-item">
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-chart-line"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">Analytics</span></a>
        </li>
        <li data-pg-name="vertical-menu__list-item" class="vertical-menu__list-item">
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-chart-line"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">Chat</span></a>
            <a data-pg-name="vertical-menu__link" class="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="vertical-menu__link-icon icon-qrcode"></span> <span data-pg-name="vertical-menu__link-text" class="vertical-menu__link-text">QR Code</span></a>
        </li>
    </ul>
</div>