/*------------------------------------*
	SVG ARTWORK FONT FACES
*------------------------------------*/

$font-family__light: "helveticaneue-light, helvetica neue";
$font-family__regular: "helveticaneue, helvetica neue";
$font-family__medium: "helveticaneue-medium, helvetica neue";

/*------------------------------------*
	SASS FONT SIZE VARIABLES
*------------------------------------*/

$font-base-size: 16;

$text-size__jumbo: px-to-rem(52, $font-base-size);

$text-size__xx-large: px-to-rem(36, $font-base-size);
$text-size__x-large: px-to-rem(28, $font-base-size);
$text-size__large: px-to-rem(19, $font-base-size);
$text-size__medium: px-to-rem(18, $font-base-size);
$text-size__small: px-to-rem(16, $font-base-size);
$text-size__x-small: px-to-rem(14, $font-base-size);
$text-size__xx-small: px-to-rem(13, $font-base-size);

$text-size__tiny: px-to-rem(12, $font-base-size);

/*------------------------------------*
	SASS LINE HEIGHT VARIABLES
*------------------------------------*/

$line-height__jumbo: 1.07;

$line-height__xx-large: 1.11;
$line-height__x-large: 1.142;
$line-height__large: 1.26;
$line-height__medium: 1.26;
$line-height__small: 1.5;
$line-height__x-small: 1.714;
$line-height__xx-small: 1.23;

$line-height__tiny: 1.333;