<!-- Media Group -->
<div data-pg-name="data-group-media" class="flex">
    <img src="images/wave-admin-logo.svg"/>
    <div data-pg-name="data-group-media__content" class="pl-4 hidden md:block">
        <div class="text-size--medium">WAVES</div>
        <div class="text-size--x-small text-color--dark-mint-green">
            ADMINISTRATION PANEL
        </div>
    </div>
</div>