<!-- Vertical Menu Link -->
<div class="h-full flex-col justify-between hidden md:flex mt-10" data-pg-name="vertical-menu">
    <ul class="list-reset" data-pg-name="vertical-menu__list">
        <div class="h-full flex-col justify-between hidden md:flex mt-10" data-pg-name="vertical-menu">
            <ul class="list-reset" data-pg-name="vertical-menu__list">
                <li data-pg-name="vertical-menu__list-item">
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-end" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="icon-home-outline text-size--large"></span> <span data-pg-name="vertical-menu__link-text">Home</span></a>
                </li>
                <li data-pg-name="vertical-menu__list-item" data-pg-collapsed>
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-center" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="icon-users-outline text-size--large"></span> <span data-pg-name="vertical-menu__link-text">Users</span></a>
                </li>
                <li data-pg-name="vertical-menu__list-item" data-pg-collapsed>
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-center" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="icon-box text-size--large"></span> <span data-pg-name="vertical-menu__link-text">Packages</span></a>
                </li>
                <li data-pg-name="vertical-menu__list-item" data-pg-collapsed>
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-center" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="text-size--large icon-chart-line"></span> <span data-pg-name="vertical-menu__link-text">Analytics</span></a>
                </li>
                <li data-pg-name="vertical-menu__list-item" data-pg-collapsed>
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-center" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="icon-qrcode text-size--large"></span> <span data-pg-name="vertical-menu__link-text" class="whitespace-no-wrap">QR Code</span></a>
                </li>
                <li data-pg-name="vertical-menu__list-item" data-pg-collapsed>
                    <a class="block hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple text-right flex-col flex p-8 items-center" data-pg-name="vertical-menu__link"> <span data-pg-name="vertical-menu__link-icon" class="text-size--large icon-chat"></span> <span data-pg-name="vertical-menu__link-text">Chat</span></a>
                </li>
            </ul>
        </div>
    </ul>
</div>