<!-- Vertical Menu Link -->
<div class="h-full flex-col justify-between hidden md:flex mt-10" data-pg-name="vertical-menu">
    <ul class="list-reset" data-pg-name="vertical-menu__list">
        <li data-pg-name="vertical-menu__list-item">
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple" data-pg-name="vertical-menu__link">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
        <li>
            <a class="block p-5 flex justify-between items-center hover:bg-purple-lightest hover:text-purple border-solid border-r-4 border-white hover:border-purple">Link</a>
        </li>
    </ul>
</div>