<div class="vertical-menu">
    <ul class="vertical-menu__list">
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-home-outline"></span> <span
                        class="vertical-menu__link-text">Home</span></a>
        </li>
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-users-outline"></span> <span
                        class="vertical-menu__link-text">Users</span></a>
        </li>
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-box"></span> <span
                        class="vertical-menu__link-text">Packages</span></a>
        </li>
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-chart-line"></span> <span
                        class="vertical-menu__link-text">Analytics</span></a>
        </li>
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-chat"></span> <span
                        class="vertical-menu__link-text">Chat</span></a>
        </li>
        <li class="vertical-menu__list-item">
            <a class="vertical-menu__link"> <span class="vertical-menu__link-icon icon-qrcode"></span> <span
                        class="vertical-menu__link-text">QR Code</span></a>
        </li>
    </ul>
</div>