<!-- index.nunjucks -->
{% extends 'base-layout.njk' %}
{% import 'macros/grid-macros.njk' as grid %}
{% import 'macros/panel-macros.njk' as panel %}

{% block sidebar %}

    {% include "layout/sidebar.njk" %}

{% endblock %}

{% block mainContent %}

    {% include "layout/main.njk" %}

{% endblock %}