<!-- Header -->
<header class="flex justify-between">
    {% include "components/header-blocks/header-logo-block.njk" %}

    <div class="flex">
        {% include "components/header-blocks/header-user-menu-block.njk" %}
        <button class="p-4 md:hidden" data-pg-name="sidebar-toggle">|||</button>
    </div>
</header>