{% macro getPanel(panelContent, name='') %}
    <!-- Panel Block{% if name !== '' %} : {{ name }}{% endif %} -->
    <div class="panel" data-pg-name="panel">
        {% if panelContent.include %}
            {% include panelContent.include %}
        {% else %}
            Content
        {% endif %}
    </div>
{% endmacro %}