//@import "vendors/normalize"; /* Not needed if using Tailwind */
@tailwind preflight;

@import "config/variables";
@import "helpers/mixins";

@tailwind components;
@tailwind utilities;

/* Base Elements */
@import "base/typography";
@import "base/document";

/* Helpers */
@import "helpers/layout-blocks";
@import "helpers/line-height-grid";

/* Components */
@import "components/wrapper";
@import "components/sidebar";
@import "components/vertical-menu";
@import "components/main-content";
@import "components/header";
@import "components/dropdown";
@import "components/grid";
@import "components/panel";
@import "components/panel-table";
@import "components/footer";

/* Vendors */
@import "vendors/fontello";