//@import "vendors/normalize"; /* Not needed if using Tailwind */
@tailwind preflight;

@import "config/variables";
@import "helpers/mixins";
@import "helpers/ratio-blocks";

@tailwind components;
@tailwind utilities;

/* Base Elements */
@import "base/document";
@import "base/typography";

/* Components */